html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.display-none {
  display: none !important;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
button:active {
  opacity: 0.5;
}

.btn-text {
  padding: 10px;
  border: 0.5px solid #737373;
  color: black;
  font-size: 13px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-icon {
  padding: 7px;
}

.search-form {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #E0DFDF;
  padding: 14px;
  box-shadow: 0 1px 1px #0B0A0A;
  background-color: white;
}
.search-form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  color: black;
}
.search-form input::placeholder {
  color: black;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat.ttf");
}
.header {
  min-height: 75px;
  padding: 17px 12px 9px 12px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #FDFBFB 0%, #EBEBEB 100%);
  gap: 15px;
}
.header-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  min-height: 100vh;
  padding: 0 12px;
  background-image: linear-gradient(180deg, #F9F9F9 0%, #737373 100%);
}
.main-hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 18px 0;
}
.main-hero h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.main-hero p {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
